<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Analytics Dashboard for Hertz Car Sales Website">
  <meta name="author" content="Anisio Resem">
  {% include 'google_tag_manager_head.html' %}
  <title>
    {% block title %} Hertz Car Sales Scraper Dashboard {% endblock title %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <style>
    {% block in_page_style %}
    {% endblock in_page_style %}
  </style>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M8QTZJ');</script>
  <!-- End Google Tag Manager -->

</head>
<body id="page-top">
{% include 'google_tag_mgr_body.html' %}
{% include 'navigation.html' %}
{% include 'header.html' %}
<div id="wrapper" class="container">
  <section id="messaging_section">
    {% include 'messaging.html' %}
  </section>

  <section id="content">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>

  <section id="data-display">
    <div class="container">
      {% block display %}{% endblock %}
    </div>
  </section>

</div> <!-- wrapper container -->

<footer>
  <div class="container">
    {% include 'footer.html' %}
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/vue.js') }}"></script> {# 2.6.10 #}
{#<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
{% block scripts %}
{% endblock %}
</body>
</html>