
<div id="form_feeder" class="row">
  <div  class="col-lg-3 col-12">
    <div class="container">
      <div class="row m-1 text-left">
        <div class="col-lg-3 col-12">
          <label> Maker</label></div>
        <div class="col-lg-9 col-12">
          <select v-model="maker_select" v-on:change="dynamicUpdate">
            <option v-for="maker in makers" v-bind:value="maker.value">
              {% raw %} {{ maker.text }} {% endraw %}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <div class="container">
      <div class="row m-1 text-left">
        <div class="col-lg-3 col-12">
          <label> Model</label>
        </div>
        <div class="col-lg-9 col-12">
          <select v-model="model_select" v-on:change="dynamicUpdate" >
            <option v-for="model in models" v-bind:value="model.value">
              {% raw %} {{ model.text }} {% endraw %}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <div class="container">
      <div class="row m-1 text-left">
        <div class="col-lg-3 col-12">
          <label> Style</label>
        </div>
        <div class="col-lg-9 col-12">
          <select v-model="style_select" v-on:change="dynamicUpdate" >
            <option v-for="style in styles" v-bind:value="style.value">
              {% raw %} {{ style.text }} {% endraw %}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12">

    <div class="container">
      <div class="row m-1 text-left">
        <div class="col-lg-3 col-12">
          <label> Year</label>
        </div>
        <div class="col-lg-9 col-12">
          <select v-model="year_select" v-on:change="dynamicUpdate" >
            <option v-for="year in years" v-bind:value="year.value">
              {% raw %} {{ year.text }} {% endraw %}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% raw %}{{ message }}{% endraw %}
    </div>
  </div>
</div>